<div class="heading_photo_gallery">
    <div id="photoGalleryAnchor"></div>
    <h2 class="headingText">Photo <span class="galleryText">Gallery</span></h2>
</div>

<div class="slideshow-container" style="width: 80%; overflow: hidden;">
    <div class="slideshow-inner" >

        <!-- IMAGES FROM CLOUDINARY CDN -->
        <div class="mySlides fade">

            <img src="https://res.cloudinary.com/dbpcvaquc/image/upload/v1677272025/srijan4_ers3ax.jpg"
                style="width: 100%; " alt="dummy3" />
        </div>

        <div class="mySlides fade">

            <img src="https://res.cloudinary.com/dbpcvaquc/image/upload/v1677272024/srijan1_chawou.jpg"
                style="width: 100%;" alt="dummy2" />
        </div>

        <div class="mySlides fade">

            <img src="https://res.cloudinary.com/dbpcvaquc/image/upload/v1677272024/srijan3_vpzxhm.jpg"
                style="width: 100%;" alt="dummy3" />
        </div>

        <div class="mySlides fade">

            <img src="https://res.cloudinary.com/dbpcvaquc/image/upload/v1677272022/srijan2_g8ujqa.jpg"
                style="width: 100%;" alt="dummy4" />
        </div>

    </div>


    <div class="buttons">
        <a class="prev" onclick=' plusSlides(-1)'>&#10094;</a>
        <a class="next" onclick='plusSlides(1)'>&#10095;</a>
    </div>
</div>
<br><br><br>