<div class="headingSponsors" id="pastsponsors">
  <h2 class="sponsorPara">
    Past <span class="sponsorGradient">Sponsors</span>
  </h2>
</div>

<!-- <div class="sponsorTotal">
    <div class="codingPartner">
        <h3 class="sponserCategory">Coding Partner</h3>
        <a href="https://www.geeksforgeeks.org/"       target="_blank">
            <img class="sponsorImage gfg" src="/sponsorImages/gfg.png" alt="">
        </a>
        <h4 class="sponsorName">GeeksforGeeks</h4>
    </div>
    <div class="digitalPartner">
        <h3 class="sponserCategory">Digital Partner</h3>
        <a href="https://www.blackmarbles.tech/" target="_blank">
            <img class="sponsorImage marble" src="/sponsorImages/blackmarble.png" alt="">
        </a>
        <h4 class="sponsorName">Black Marbles</h4>
    </div>
    <div class="mediaPartner">
        <h3 class="sponserCategory">Media Partner</h3>
        <a href="https://www.noticebard.com/" target="_blank">
            <img class="sponsorImage notice" src="/sponsorImages/noticebard.png" alt="">
        </a>
        <h4 class="sponsorName">Notice Bard</h4>
    </div>
    <div class="credentialsPartner">
        <h3 class="sponserCategory">Credentials Partner</h3>
        <a href="https://www.truscholar.io/" target="_blank">
            <img class="sponsorImage tscholar" src="/sponsorImages/truscholar.png" alt="">
        </a>
        <h4 class="sponsorName">TruScholar</h4>
    </div>
</div> -->

<div class="sponsor-ttl">
  <div class="partner-indi">
    <div class="ttl-sponso">
      <h3 class="sponserCategory">Coding Partner</h3>
    </div>
    <div class="img-spon-holder">
      <a href="https://www.geeksforgeeks.org/" target="_blank">
        <img id="gfgshort" src="https://res.cloudinary.com/dp92qug2f/image/upload/v1677226654/srijan22website/gfg_1_RE_jlbxgk.png" alt="" />
      </a>
    </div>
    <div class="part-comp-nme">
      <h4 class="sponsorName">GeeksforGeeks</h4>
    </div>
  </div>

  <div class="partner-indi">
    <div class="ttl-sponso">
      <h3 class="sponserCategory">Digital Partner</h3>
    </div>
    <div class="img-spon-holder">
      <a href="https://www.blackmarbles.tech/" target="_blank">
        <img
          class=""
          src="https://res.cloudinary.com/dp92qug2f/image/upload/v1677226635/srijan22website/blackmarble_1_re_q66dg2.png"
          alt=""
        />
      </a>
    </div>
    <div class="part-comp-nme">
        <h4 class="sponsorName">Black Marbles</h4>
      </div>
  </div>

  <div class="partner-indi">
    <div class="ttl-sponso">
      <h3 class="sponserCategory">Media Partner</h3>
    </div>
    <div class="img-spon-holder">
      <a href="https://www.noticebard.com/" target="_blank">
        <img
          class=""
          src="https://res.cloudinary.com/dp92qug2f/image/upload/v1677226640/srijan22website/noticebardRE_xmeogr.png"
          alt=""
        />
      </a>
    </div>
    <div class="part-comp-nme">
        <h4 class="sponsorName">Notice Bard</h4>
      </div>
  </div>

  <div class="partner-indi">
    <div class="ttl-sponso">
      <h3 class="sponserCategory">Credentials Partner</h3>
    </div>
    <div class="img-spon-holder">
      <a href="https://www.truscholar.io/" target="_blank">
        <img
          class=""
          src="https://res.cloudinary.com/dp92qug2f/image/upload/v1677226647/srijan22website/truscholar_1_re_c7a0qx.png"
          alt=""
        />
      </a>
    </div>
    <div class="part-comp-nme">
        <h4 class="sponsorName">TruScholar</h4>
      </div>
  </div>
</div>
