<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/2a064b5b70.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Registration</title>
</head>
<body>
    <div class="navbar">This is navbar</div>
    <div class="register">
        <div class="srijan">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, laudantium? Assumenda deleniti maxime sit quod officiis sint itaque laboriosam velit dolorum corporis doloribus ut quaerat, ipsum in ipsa atque repudiandae excepturi at quos consectetur necessitatibus nemo veniam. Dolor sed tempora harum assumenda voluptas nulla facere libero aut natus voluptatum est laboriosam autem ducimus quam error, veniam saepe dolorum quae illo, ab provident corrupti velit dicta id! Rem, tempora expedita dolorum repellat enim quas placeat quis dolore voluptas, eveniet accusantium itaque dolores aspernatur earum nulla quia sapiente. Vero sapiente commodi qui quam quaerat ab, in quo praesentium, sint earum voluptas perferendis.</p>
        </div>
        <div class="error">
            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size:40px;"></i>
            <h5>You have registered already</h5>
        </div>
    </div>
</body>
</html>